html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.container {
  max-width: 1160px;
  margin: auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #FFFFFF;
}
.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.navbar-top__search {
  margin-right: auto;
  margin-left: 108px;
}
.navbar-top__menu-button {
  display: none;
}
.navbar-bottom {
  padding: 31px 0;
  background-color: #0A223D;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}
.navbar-menu__link {
  text-decoration: none;
  color: #FFFFFF;
}

.logo {
  width: 177px;
}

.search {
  display: flex;
  position: relative;
  height: 40px;
  width: 350px;
  border-radius: 6px;
  overflow: hidden;
}
.search__input {
  width: 100%;
  height: 100%;
  background-color: #F5FAFE;
  border: none;
  padding: 12px 75px 13px 23px;
  outline: none;
  font-size: 12px;
  line-height: 15px;
}
.search__button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  border-width: 0;
  width: 65px;
  height: 100%;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user__name {
  margin-left: 18px;
  color: #333333;
  font-size: 14px;
  line-height: 18px;
}

.breadcrumb {
  padding: 18px 0;
}
.breadcrumb-list {
  display: flex;
  font-style: normal;
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 2px;
}
.breadcrumb-list__link {
  color: #0A223D;
  text-decoration: none;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}
.hotel-name {
  margin-top: 4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotel-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.hotel-wrap__offer {
  margin-top: 4px;
  margin-left: 14px;
}

.stars {
  width: 100%;
}
.stars__wrap {
  display: flex;
  justify-content: space-between;
  width: 48px;
}

.offer {
  color: #FFFFFF;
  background-color: #EC1F46;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  border-radius: 3px;
  height: 100%;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px 6px 6px 6px;
  margin-bottom: 6px;
  border-radius: 4px;
  background-color: #EC1F46;
  color: white;
  height: 100%;
}
.rating__text {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 92%;
  }
}
@media (max-width: 992px) {
  .navbar-top {
    padding: 30px 0;
  }
  .navbar-top__search {
    margin-left: auto;
  }
  .navbar-bottom {
    padding: 22px 0;
  }
  .navbar-menu {
    font-size: 12px;
    line-height: 15px;
  }
  .logo {
    width: 132.75px;
  }
  .search {
    max-width: 340px;
  }
}
@media (max-width: 768px) {
  .navbar-top__search, .navbar-top__user, .navbar-bottom {
    display: none;
  }
  .menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11px;
    width: 16px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu-button__line {
    width: 100%;
    height: 1px;
    background-color: #333333;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 99px;
  }
}/*# sourceMappingURL=style.css.map */