@media (max-width: 1200px)
  .container
    max-width: 92%

@media (max-width: 992px)
  .navbar
    &-top
      padding: 30px 0
      &__search
        margin-left: auto
    &-bottom
      padding: 22px 0
    &-menu
      font-size: 12px
      line-height: 15px

  .logo
    width: 132.75px

  .search
    max-width: 340px

@media (max-width: 768px)
  .navbar
    &-top__search, &-top__user, &-bottom
      display: none

  .menu-button
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 11px
    width: 16px
    padding: 0
    background: none
    border: none
    cursor: pointer
    &__line
      width: 100%
      height: 1px
      background-color: $text

@media (max-width: 576px)
  .logo
    width: 99px
