*
  box-sizing: border-box
body
  font-family: 'Poppins', sans-serif
.container
  max-width: 1160px
  margin: auto
img
  max-width: 100% // Чтобы картинка не вываливалась за пределы родительского блока
