*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  background-color: #F5FAFE

.container
  max-width: 1160px
  margin: auto

img
  max-width: 100% // Чтобы картинка не вываливалась за пределы родительского блока
